.sidebar{
    /* border: 1px solid black; */
    /* height: 100%; */
    flex:0.25;
    background-color: white;
    color: black;
    /* height: 100%; */
    min-width: 20%;
    padding-left: 1.5em;
    padding-top: 1.5em;
    
}

.tags,.price--range{
    font-weight: 400;
    font: 0.8em sans-serif;
}